.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    background-color: #f2f2f2;
}

.card > img {
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    border-radius: 5px 5px 0 0;
    margin: 0px;
}

.card > img:hover{
    opacity: 0.83;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card > .container {
    display: inline-block;
    padding: 2px 16px;
    margin: 0px;
    text-align: center;
    background-color: #f2f2f2;
    color: #333;
}

.card > .container > h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card > .container > p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;;
}

.card > .container > button {
    border: none;
    cursor: pointer;
    padding: 0px;
    margin-bottom: 10px;
} 

.card > .container > button > a {
    background-color: darkgreen;
    text-decoration: none;
    color: #f2f2f2;
    padding: 6px 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.card > .container > button > a:hover {
    background-color: lightgreen;
    color: #333;
}

