
li {
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  text-decoration: none;
  color: #f2f2f2;
  padding: 14px 20px;
  font-size: 20px;
}

.link:hover {
  background-color: #f2f2f2;
  color: #333;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}

.topnav > nav { 
  display: inline-block;
  width: 100%;
}

.topnav > nav > ul {
  list-style: none;
  padding: 0px;
}

.topnav > nav > ul > .nav-link {
  float: left;
  display: block;
  margin-left: 20px;
}

.topnav > nav > ul > .nav-links-container {
  display: flex;
  justify-content: flex-end;
  margin-right: 16px;
}

@media screen and (max-width: 600px) {

  .topnav > nav > ul > .nav-link {
    margin-left: 0px;
  }

  .topnav > nav > ul > .nav-links-container {
    margin-right: 0px;
  }
}




