
.skillBar {
    margin-bottom: 0px;
    padding: 0px;
}

.skillBar > h3{
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 7px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.skillBar > .container {
    width:100%; 
    background-color: lightgray; 
    margin-top: 0px;
}

.skillBar > .container > .progress {
    height: 20px;
    text-align: right;
    color: #f2f2f2;
}

