
/* header */

header {
    background-color: #333;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 20px;
    padding: 30px 10px;
    align-items: center;
}

header > .personalPhoto {
    grid-column: 1;
    grid-row: 1;
    display: inline-block;
    padding: 2px 16px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #333;
    color: #f2f2f2;
    height: 250px;
    width: 200px;
    align-items: center;
}

header > .personalPhoto > img {
    width: 90%;
    height: 100%;
    align-items: center;
}

header > .personalDescription {
    grid-column: 2/-1;
    grid-row: 1;
    color: #f2f2f2;
}

header > .personalDescription > h2 {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

header > .personalDescription > h3 {
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header > .personalDescription > p {
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header > .personalDescription > button {
    border: 2px solid lightskyblue;
    background-color: #333;
    color: #f2f2f2;
    padding: 6px 12px;
    font-family: Arial, Helvetica, sans-serif;
}

header > .personalDescription > button:hover {
    background-color: lightskyblue;
    color: #333;
}

/* MAIN SECTION */

.skillsContainer {
    padding: 10px 10px 30px 10px;
    margin-top: 5px;
    margin-bottom: 0px;
    border: 1px groove lightgray;  
}


.skillsContainer > main > section {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
}

.skillsContainer > main > section > .skillBars {
    grid-row: 1;
    grid-column: 1;
    display: inline-block;
    padding: 2px 16px;
    margin: 0px;
    text-align: left;
}

.skillsContainer > main > section > .skillBars > h2 {
    font-family: Arial, Helvetica, sans-serif;
}

.skillsContainer > main > section > .experience {
    grid-row: 1;
    grid-column: 2/-1;
}

.skillsContainer > main > section > .experience > h2 {
    font-family: Arial, Helvetica, sans-serif;
}

/* CARDS PORTAFOLIO */

.cardsPortafolio {
    background-color: #333;
    color: #f2f2f2;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 5px;
}

.cardsPortafolio > h2 {
    padding-top: 30px;
    font-size: 40px;
    margin-top: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.cardsPortafolio > h3 {
    text-align: left;
    padding-left: 21px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 26px;
    font-family: Arial, Helvetica, sans-serif;
}

.cardsPortafolio > button {
    border: none;
    cursor: pointer;
    padding: 0px;
    margin-bottom: 20px;
    margin-top: 20px;
}

.cardsPortafolio > button > a {
    border: 2px solid lightskyblue;
    background-color: #333;
    text-decoration: none;
    color: #f2f2f2;
    padding: 6px 12px;
    font-family: Arial, Helvetica, sans-serif;

}

.cardsPortafolio > button > a:hover {
    background-color: lightskyblue;
    color: #333;
}

/* CARDS */

.container {
    background-color: #333;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    margin-top: 0px;
}

.container > .cards {
    margin: 20px;
}

footer {
    background-color: #333;
    text-align: center;
    color: #f2f2f2;
    padding: 10px;
}

footer > h2 {
    margin-bottom: 10px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

footer > h3 {
    margin: 5px;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* MEDIA QUERYS */

@media screen and (max-width: 770px) {

    /* HEADER */

    header {
        grid-template-rows: auto auto;
        grid-template-columns: 1fr;
    }

    header > .personalPhoto {
        grid-column: 1;
        grid-row: 1;
        padding: 0px;
    }

    header > .personalDescription {
        grid-column: 1;
        grid-row: 2;
    }

    /* MAIN SECTION */

    .skillsContainer > main > section {
        grid-template-rows: repeat(2, auto);
        grid-template-columns: 1fr;
    }

    .skillsContainer > main > section > .skillBars {
        grid-row: 1;
        grid-column: 1;
    }

    .skillsContainer > main > section > .experience {
        grid-row: 2;
        grid-column: 1;
    }

    /* CARDS PORTAFOLIO */

    .cardsPortafolio > h3 {
        text-align: center;
    }

    /* FOOTER */
    footer > h2 {
        font-size: 18px;
    }

    footer > h3 {
        font-size: 13px;
    }

}

